/* init.css v1.2.0-beta */
:root{
    --color-base:#dfdfdf; 
    --color-text:#1d1d1d; 
    --color-muted:#c9c9c9; 
    --color-accent:#eb5f46; 
    --color-success:#28a770; 

    --font-heading:Georgia, 'Times New Roman', Times, serif;
    --font-body:Verdana, Geneva, Tahoma, sans-serif;
}
@media (prefers-color-scheme: dark){
    :root{
        --color-base:#1d1d1d; 
        --color-text:#dfdfdf; 
        --color-muted:#313131; 
    }
}
*{
    box-sizing: border-box;
}
html{
    color-scheme: dark light;
    font-size: 16px;
    scrollbar-color: var(--color-text) var(--color-base);
    scrollbar-width: thin;
    scroll-behavior: smooth;
}
body{
    display: block;
    min-width: 100dvw;
    min-height: 100dvh;
    margin: 0;
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
    font-family: var(--font-body);
    color: var(--color-text);
    background-color: var(--color-base);
}
h1,
h2,
h3,
h4,
h5,
h6{
    margin: 0.25rem 0;
    padding: 0;
    font-family: var(--font-heading);
    text-wrap: balance;
}
h1{
    font-size: 2.4rem;
}
h2{
    font-size: 2.2rem;
}
h3{
    font-size: 2rem;
}
h4{
    font-size: 1.8rem;
}
h5{
    font-size: 1.6rem;
}
h6{
    font-size: 1.4rem;
}
p{
    margin: 1rem 0;
    padding: 0;
    text-wrap: pretty;
}
a{
    color: var(--color-success);
    text-decoration: none;
}
b,
strong,
time{
    font-weight: bold;
}
mark{
    margin:0;
    padding: 0 0.2rem;
    color: var(--color-base);
    border-radius: 0.2rem;
    background-color: var(--color-success);
}
small{
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
}
sup,
sub{
    position: relative;
    line-height: 0;
    vertical-align: baseline;
    font-size: 0.8rem;
}
sub {
    bottom: -0.2rem;
}
sup {
    top: -0.5rem;
}
kbd{
    margin: 0;
    padding: 0 0.2rem;
    font-family: var(--font-code);
    border: 1px solid;
    border-radius: 0.2rem;
}
samp{
    margin: 0;
    padding: 0;
    font-family: var(--font-code);
    color: var(--color-accent);
}
code{
    margin:0;
    padding: 0 0.2rem;
    border-radius: 0.2rem;
    background-color: var(--color-muted);
}
pre{
    margin: 0;
    padding: 0 0.5rem;
    font-size: 1rem;
    border-radius: 0.2rem;
    background-color: var(--color-muted);
}
ul, 
ol, 
menu{
    margin: 0.2rem 2rem;
    padding: 0;
}
dl{
    margin: 0.2rem 1rem;
    padding: 0;
}
dt{
    font-weight: bold;
}
dd{
    margin-bottom: 0.2rem;
}
li::marker{
    color: var(--color-success)
}

fieldset {
    padding: 1em 0.5em;
    margin: 0.5em 0;
    border: 1px solid;
    border-radius: 5px;
}
legend {
    display: table;
    max-width: 100%;
    padding: 0 0.25em;
    margin: 0 0.25em;
    white-space: normal;
    color: inherit;
    font-size: 1em;
    font-weight: bold;
}
input,
textarea,
select{
    margin: 0.25rem 0;
    padding: 0.25rem;
    border-radius: 0.2rem;
    border: 1px solid var(--color-muted);
    accent-color: var(--color-text);
}
textarea{
    min-height: 1.75rem;
}
select{
    padding: 0.25rem 0.5rem;
    columns: var(--color-text);
    border: 1px solid var(--color-muted);
    background-color: var(--color-base);
}
optgroup{
    margin: 0;
    padding: 0;
    font-style: italic;
}
output{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--color-accent);
}
button,
[type="button"],
[type="reset"],
[type="submit"],
input::file-selector-button{
    margin: 0 0.5rem;
    padding: 0.25rem 0.75rem;
    font-size: 1rem;
    border-radius: 1rem;
    border: 1px solid;
    background-color: var(--color-base);
    transform: scale(1);
    transition: transform 0.2s;
}
[type="submit"],
input::file-selector-button{
    color: var(--color-base);
    border: 1px solid var(--color-success);
    background-color: var(--color-success);
}
input[type="file"]{
    border: none;
}
button:active,
[type="button"]:active,
[type="reset"]:active,
[type="submit"]:active,
input::file-selector-button:active{
    transform: scale(0.95);
    transition: transform 0.2s;
}
input[type="radio"],
input[type="checkbox"],
input[type="range"]{
    margin: 0 1rem 0 0;
    padding: 0;
    accent-color: var(--color-success);
}
progress {
    vertical-align: baseline;
    border-radius: 0.2rem;
    border: 1px solid var(--color-text);
    background-color: var(--color-text);
}
progress::-webkit-progress-bar {
    background-color: var(--color-text);
} 
progress::-webkit-progress-value {
    background-color: var(--color-success);
}
progress::-moz-progress-bar {
    background-color: var(--color-success);
}
img, 
picture,
video, 
svg{
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}
table{
    margin: 0.5rem 0;
    border-collapse: collapse;

    caption{
        margin-bottom: 0.5rem;
        font-size: 1rem;
    }
    th, 
    td{
        margin: 0;
        padding: 0.25rem 1rem;
        font-size: 1rem;
    }
    th{
        border: 1px solid;
        background-color: var(--color-muted);
    }
    td{
        border: 1px solid;
    }
    tfoot{
        th,
        td{
            padding: 0.5rem;
            color: var(--color-success);
            border: none;
        }
        th{
            text-align: end;
            background-color: transparent;
        }
    }
}
::selection{
    color: var(--color-base);
    background-color: var(--color-text);
}
@media(hover:hover){
    a:hover{
        text-decoration: underline;
    }
}